<section class="relative fullview">
    <ng-container *ngIf="currentPage == 1">
        <app-startscreen (register)="nextPage(2)" (search)="nextPage(8)"></app-startscreen>
    </ng-container>

    <ng-container *ngIf="currentPage == 2">
        <app-location-selection (back)="previousPage()" (selectionChange)="setType($event)" [type]="'normal'"></app-location-selection>
    </ng-container>

    <ng-container *ngIf="currentPage == 3">
        <app-address-form (back)="previousPage()" [address]="address" (addressChange)="setAddress($event)"></app-address-form>
    </ng-container>

    <ng-container *ngIf="currentPage == 4">
        <app-location-selection (back)="previousPage()" (selectionChange)="setType($event)" [type]="'error'"></app-location-selection>
    </ng-container>

    <ng-container *ngIf="currentPage == 5">
        <app-clothing-selection (back)="previousPage()" (clothesChange)="setClothes($event)" [clothesList]="clothesList"></app-clothing-selection>
    </ng-container>

    <ng-container *ngIf="currentPage == 6">
        <app-area-selection (back)="previousPage()" (areasChange)="setArea($event)" [areasList]="areasList"></app-area-selection>
    </ng-container>

    <ng-container *ngIf="currentPage == 7">
        <app-registration-overview [registrationData]="registration" (back)="nextPage(1)"></app-registration-overview>
    </ng-container>

    <ng-container *ngIf="currentPage == 8">
        <app-registration-search (registrationIdChanged)="getRegistration($event)"  (back)="nextPage(1)"></app-registration-search>
    </ng-container>
</section>