form input[type="text"],form input[type="number"]{
    background-color: transparent;
    border-bottom: 1px solid white;
    outline: 0;
}

form textarea{
    background-color: transparent;
    border: 1px solid white;
}