<img src="./assets/images/gallery/nigeria.png" alt="Background image child" class="w-full h-full object-cover">
<div class="absolute top-0 w-full h-full p-5 md:px-28 lg:px-64 flex flex-col justify-center black-alpha">
    <div class="flex flex-col justify-center align-center text-white text-center w-full">
        <h1 class="text-3xl sm:text-4xl font-bold mb-3">Cool, dass du dich entschieden hast zu helfen!</h1>
        <p class="text-xl">Mit deiner Spende sind wir in der Lage vielen Menschen rund um den Globus zu helfen. Klicke auf Fortfahren um eine neue spende zu registrieren oder auf Bestehende spende aufrufen um eine existierende anzuzeigen!</p>
        <div class="flex flex-col mt-5 w-full gap-2 text-white text-xl">
            <button class="button-brown font-bold p-5 rounded-lg" (click)="startRegistration()">Fortfahren</button>
            <button class="button-red font-bold p-5 rounded-lg" (click)="searchRegistration()">Bestehende Spende aufrufen</button>
        </div>
    </div>
</div>