<img src="./assets/images/gallery/equador.png" alt="Background image child" class="w-full h-full object-cover">
<div class="absolute top-0 w-full h-full p-5 md:px-28 lg:px-64 flex flex-col justify-center black-alpha">
    <div class="flex flex-col h-full justify-center gap-3">
        <!-- Show registration object data, if passed registration object is not null -->
        <div class="w-full flex flex-col gap-3 p-5 rounded-lg bg-red text-xl overflow-auto" *ngIf="registrationData !== null; else notFound">
            <h1 class="text-3xl font-bold text-white">Registrationsdaten</h1>
            <div class="flex flex-wrap gap-5 bg-white p-5 rounded-lg">
                <div class="w-full">
                    <h2 class="mb-3 font-bold">Typ</h2>
                    <p>{{ registrationData.type }}</p>
                </div>
                <div class="flex-1">
                    <h2 class="mb-3 font-bold">Datum</h2>
                    <p>{{ registrationData.date }}</p>
                </div>
                <div class="flex-1">
                    <h2 class="mb-3 font-bold">Uhrzeit</h2>
                    <p>{{ registrationData.time }}</p>
                </div>
                <div class="w-full">
                    <h3 class="mb-3 font-bold">Registrations ID</h3>
                    <p>{{ registrationData.registrationId }}</p>
                </div>
            </div>
            <div *ngIf="registrationData.type == 'Abholung' && registrationData.address !== null" class="flex flex-wrap gap-5 bg-white p-5 rounded-lg">
                <div class="basis-1/3 flex-1">
                    <h2 class="mb-3 font-bold">Name</h2>
                    <p>{{ registrationData.address.name }}</p>
                </div>
                <div class="basis-1/3 flex-1">
                    <h2 class="mb-3 font-bold">Vorname</h2>
                    <p>{{ registrationData.address.surname }}</p>
                </div>
                <div class="basis-1/3 flex-1">
                    <h2 class="mb-3 font-bold">Straße</h2>
                    <p>{{ registrationData.address.street }}</p>
                </div>
                <div class="basis-1/3 flex-1">
                    <h2 class="mb-3 font-bold">Hausnummer</h2>
                    <p>{{ registrationData.address.number }}</p>
                </div>
                <div class="basis-1/3 flex-1">
                    <h2 class="mb-3 font-bold">Postleitzahl</h2>
                    <p>{{ registrationData.address.zipcode }}</p>
                </div>
                <div class="basis-1/3 flex-1">
                    <h2 class="mb-3 font-bold">Ort</h2>
                    <p>{{ registrationData.address.location }}</p>
                </div>
            </div>
            <div class="flex flex-wrap gap-5 bg-white p-5 rounded-lg">
                <div class="flex-1">
                    <h2 class="mb-3 font-bold">Ausgewählte Kleidungsstücke</h2>
                    <ul>
                        <li *ngFor="let cloth of registrationData.clothes">{{ cloth }}</li>
                    </ul>
                </div>
                <div class="flex-1">
                    <h2 class="mb-3 font-bold">Ausgewähltes Krisengebiet</h2>
                    <ul>
                        <li *ngFor="let area of registrationData.areas">{{ area }}</li>
                    </ul>
                </div>
            </div>
            <p class="text-white">Bitte speichere nachfolgend die Informationen zu deiner Registrationsid ab, um diese bei Rückfragen vorlegen zu können.</p>
        </div>
        <!-- Show error page if passed registration object is null -->
        <ng-template #notFound> 
            <div class="flex flex-col gap-3 p-5 rounded-lg bg-red text-xl overflow-auto text-white">
                <h1 class="text-3xl font-bold">Registrationsdaten</h1>
                <p class="text-xl">Registrationsdaten können nicht geladen werden! Entweder wurden sie nicht richtig gespeichert, oder deine Registrations ID ist falsch! Bitte erneut versuchen oder an einen Mitarbeiter wenden!</p>
            </div>
        </ng-template>
        <button class="button-red w-full font-bold p-5 rounded-lg text-xl text-white" (click)="pageBack()">Übersicht schließen</button>
    </div>
</div>