<img src="./assets/images/gallery/mali.png" alt="Background image child" class="w-full h-full object-cover">
<div class="absolute top-0 w-full h-full p-5 md:px-28 lg:px-64 flex flex-col justify-center black-alpha">
    <button class="text-3xl text-left text-white mb-5" (click)="pageBack()"><fa-icon [icon]="icons.backicon"></fa-icon></button>
    <ng-container *ngIf="type=='normal'">
        <div class="flex flex-col md:flex-row gap-2 text-center">
            <div class="bg-red rounded-lg flex flex-col justify-center items-center text-white p-5 cursor-pointer h-full w-full" (click)="setType('Übergabe an der Geschäftsstelle')">
                <fa-icon class="text-4xl mb-3 md:text-6xl" [icon]="icons.heart"></fa-icon>
                <h1 class="text-2xl font-bold mb-5">Übergabe an der Geschäftsstelle</h1>
                <p class="sm:text-xl">Komm zu uns in die Zentrale und gib deine Kleidung problemlos vor Ort bei uns ab!</p>
            </div>
            <div class="bg-brown rounded-lg flex flex-col justify-center items-center text-white p-5 cursor-pointer h-full w-full" (click)="setType('Abholung')">
                <fa-icon class="text-4xl mb-3 md:text-6xl" [icon]="icons.truck"></fa-icon>
                <h1 class="text-2xl font-bold mb-5">Abholung</h1>
                <p class="sm:text-xl">Wenn du innerhalb unseres Einzugsgebietes wohnst, holen wir die Kleidung auch sehr gerne bei dir ab!</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="type=='error'">
        <div class="flex flex-col md:flex-row gap-2 text-center">
            <div class="bg-brown rounded-lg flex flex-col justify-center items-center text-white p-5 cursor-pointer h-full w-full">
                <fa-icon class="text-4xl mb-3 md:text-6xl" [icon]="icons.sad"></fa-icon>
                <h1 class="text-2xl font-bold mb-5">Schade</h1>
                <p class="sm:text-xl">Leider können wir die Kleidung nicht bei dir abholen, da du außerhalb des Einzugsgebietes wohnst. Willst du uns die Kleidung vorbeibringen?</p>
            </div>
            <div class="bg-red rounded-lg flex flex-col justify-center items-center text-white p-5 cursor-pointer h-full w-full" (click)="setType('Übergabe an der Geschäftsstelle')">
                <fa-icon class="text-4xl mb-3 md:text-6xl" [icon]="icons.truck"></fa-icon>
                <h1 class="text-2xl font-bold mb-5">Übergabe an der Geschäftsstelle</h1>
                <p class="sm:text-xl">Komm zu uns in die Zentrale und gib deine Kleidung problemlos vor Ort bei uns ab!</p>
            </div>
        </div>
    </ng-container>
</div>