@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: caladea-regular;
    src: url("assets/fonts/Caladea-Regular.ttf");
}

html,body{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.bg-navigation{
    background-color: #302222;
}

.button-red{
    background-color: #612828;
}

.button-brown{
    background-color: #392828;
}

.bg-red{
    background-color: #723737;
}

.bg-brown{
    background-color: #392828;
}

.black-alpha{
    background-color: rgba(0,0,0,0.5);
}

@media (pointer:fine) {
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        background: #bd5151;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #924545;
    }
    ::-webkit-scrollbar-thumb:active {
        background: #924545;
    }
    ::-webkit-scrollbar-track {
        background-color: #302222;
    }
}
